.user-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    color: black;
}

h1 {
    font-size: 50px;
    font-family: fantasy;
    margin-right: 10%;
    color: black;
}

.user-list h2 {
    color: #0b0c0c;
    margin-bottom: 20px;
    text-align: center;
}

.error {
    color: red;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}